<section class="section text-center" style="padding-top:100px;padding-bottom:100px;">
  <div class="container">
    <h1>404</h1>
    <p>Sorry, we couldn't find that page.</p>
    <a href="/" class="btn btn-blue">Back to Home</a>
  </div>
</section>
